.cart-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.cart-header {
  width: 100%;
  display: flex;
  z-index: 100;
  position: fixed;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.cart-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.cart-links {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.cart-home-link {
  text-decoration: none;
}
.cart-rooms-link {
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.cart-buttons {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.cart-login {
  margin-right: 32px;
  text-decoration: none;
}
.cart-register {
  text-decoration: none;
}
.cart-burger-menu {
  display: none;
}
.cart-icon {
  width: var(--dl-size-size-xsmall);
  cursor: pointer;
  height: var(--dl-size-size-xsmall);
}
.cart-mobile-menu1 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
}
.cart-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.cart-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.cart-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cart-icon02 {
  width: var(--dl-size-size-xsmall);
  cursor: pointer;
  height: var(--dl-size-size-xsmall);
}
.cart-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.cart-nav12 {
  margin-bottom: var(--dl-space-space-unit);
}
.cart-nav22 {
  margin-bottom: var(--dl-space-space-unit);
}
.cart-nav32 {
  margin-bottom: var(--dl-space-space-unit);
}
.cart-nav42 {
  margin-bottom: var(--dl-space-space-unit);
}
.cart-nav52 {
  margin-bottom: var(--dl-space-space-unit);
}
.cart-buttons1 {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.cart-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.cart-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.cart-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.cart-hero {
  flex: 0 0 auto;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cart-faq {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cart-faq-container {
  border: 2px dashed rgba(120, 120, 120, 0.4);
}
.cart-gallery-card {
  width: 100%;
  height: 1124px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.cart-mac-book-pro141 {
  width: 100%;
  height: 1200px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-end;
  flex-shrink: 0;
  border-radius: 10px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.cart-payment-details {
  top: 253px;
  left: 108px;
  width: 533px;
  height: 622px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 1;
  justify-content: flex-start;
}
.cart-payment-title {
  top: 25px;
  left: 0px;
  color: rgb(0, 0, 0);
  width: 342px;
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Bold;
  text-align: left;
  font-family: "Inter";
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.cart-payment-subtitle-1 {
  top: 161px;
  left: 1px;
  color: rgba(87, 87, 87, 1);
  width: 227px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.cart-payment-subtitle-2 {
  top: 256px;
  left: 0px;
  color: rgba(87, 87, 87, 1);
  width: 199px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.cart-payment-subtitle-3 {
  top: 358px;
  left: 0px;
  color: rgba(87, 87, 87, 1);
  width: 156px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.cart-payment-subtitle-4 {
  top: 360px;
  left: 233px;
  color: rgba(87, 87, 87, 1);
  width: 99px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.cart-circle-designs {
  top: 310px;
  left: 1163px;
  width: 375px;
  height: 251px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.cart-ellipse1 {
  top: 0px;
  left: 0px;
  width: 236px;
  height: 231px;
  position: absolute;
}
.cart-ellipse2 {
  top: 0px;
  left: 131px;
  width: 244px;
  height: 251px;
  position: absolute;
}
.cart-stating-label {
  top: 292px;
  left: 1003px;
  color: rgba(87, 87, 87, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.cart-room {
  top: 603px;
  left: 1045px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 26px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.cart-room-price {
  top: 605px;
  left: 1407px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.cart-total-price2 {
  top: 395px;
  left: 1237px;
  color: rgb(0, 0, 0);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: left;
  font-family: "Inter";
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.cart-text08 {
  font-size: 50px;
  text-transform: uppercase;
}
.cart-tax-amount {
  top: 689px;
  left: 1408px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.cart-total-price1 {
  top: 740px;
  left: 1408px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.cart-totallabel {
  top: 734px;
  left: 1249px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 26px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.cart-tax-label {
  top: 688px;
  left: 1266px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 26px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.cart-expiry {
  top: 652px;
  left: 110px;
  width: 174px;
  height: 57px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.cart-exp-date {
  width: 145px;
  height: 50%;
}
.cart-checkout-button {
  top: 745px;
  left: 106px;
  width: 286px;
  height: 180px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  flex-direction: column;
  justify-content: flex-start;
}
.cart-pay-button {
  color: var(--dl-color-gray-white);
  width: 122px;
  height: 34px;
  font-size: 28px;
  text-decoration: none;
  background-color: #f5a034;
}
.cart-card-number {
  top: 555px;
  left: 110px;
  width: 370px;
  height: 83px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.cart-card-number1 {
  width: 351px;
  height: 32px;
}
.cart-card-holders-name {
  top: 453px;
  left: 111px;
  width: 370px;
  height: 83px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.cart-card-name {
  width: 351px;
  height: 32px;
}
.cart-clear-cart-button {
  top: 807px;
  right: 231px;
  width: 286px;
  height: 180px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: rgba(0, 0, 0, 0);
  border-width: 1px;
  flex-direction: column;
  justify-content: flex-start;
}
.cart-clear-button {
  color: var(--dl-color-gray-white) #000000;
  width: 122px;
  height: 30px;
  font-size: 30px;
  border-color: rgba(8, 8, 8, 0.94);
  border-width: 1px;
  background-color: rgb(245, 160, 52);
}
.cart-text13 {
  color: #ffffff;
}
.cart-vector1 {
  top: 668px;
  left: 1259px;
  width: 409px;
  height: 1px;
  position: absolute;
}
.cart-cvc {
  top: 653px;
  left: 343px;
  width: 174px;
  height: 57px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.cart-cvc1 {
  width: 145px;
  height: 50%;
}
.cart-container1 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.cart-container2 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.cart-container3 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.cart-image {
  width: 100%;
  height: 231px;
  object-fit: cover;
}
.cart-receipt-page-link {
  top: 900px;
  left: 1019px;
  width: 96px;
  height: 34px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.cart-link-to-receipt-page {
  color: #12b0ce;
  text-decoration: none;
}
.cart-group1 {
  top: 900px;
  left: 748px;
  width: 274px;
  height: 30px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  margin-right: 84px;
}
.cart-container4 {
  gap: var(--dl-space-space-unit);
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.cart-nav1 {
  flex: 0 0 auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  margin-top: 0px;
  align-items: center;
  flex-direction: row;
}
.cart-separator {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: 0px;
  border-color: var(--dl-color-gray-900);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.cart-container5 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.cart-icon-group1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.cart-icon10 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-twounits);
}
.cart-icon12 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-twounits);
}
.cart-icon14 {
  width: 24px;
  height: 24px;
}
@media(max-width: 767px) {
  .cart-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .cart-desktop-menu {
    display: none;
  }
  .cart-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .cart-nav12 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .cart-nav22 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .cart-nav32 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .cart-nav42 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .cart-nav52 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .cart-gallery-card {
    flex-direction: column;
  }
  .cart-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .cart-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .cart-container5 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .cart-text20 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 479px) {
  .cart-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .cart-mobile-menu1 {
    padding: 16px;
  }
  .cart-footer {
    padding: var(--dl-space-space-unit);
  }
  .cart-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .cart-container5 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .cart-text20 {
    text-align: center;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
