.sign-up-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.sign-up-header {
  width: 100%;
  display: flex;
  z-index: 100;
  position: fixed;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.sign-up-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.sign-up-links {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.sign-up-home-link {
  text-decoration: none;
}
.sign-up-room-link {
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.sign-up-cart-link {
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.sign-up-buttons {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.sign-up-login {
  margin-right: 32px;
}
.sign-up-register {
  text-decoration: none;
}
.sign-up-burger-menu {
  display: none;
}
.sign-up-icon {
  width: var(--dl-size-size-xsmall);
  cursor: pointer;
  height: var(--dl-size-size-xsmall);
}
.sign-up-mobile-menu1 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
}
.sign-up-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.sign-up-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.sign-up-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.sign-up-icon02 {
  width: var(--dl-size-size-xsmall);
  cursor: pointer;
  height: var(--dl-size-size-xsmall);
}
.sign-up-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.sign-up-nav12 {
  margin-bottom: var(--dl-space-space-unit);
}
.sign-up-nav22 {
  margin-bottom: var(--dl-space-space-unit);
}
.sign-up-nav32 {
  margin-bottom: var(--dl-space-space-unit);
}
.sign-up-nav42 {
  margin-bottom: var(--dl-space-space-unit);
}
.sign-up-nav52 {
  margin-bottom: var(--dl-space-space-unit);
}
.sign-up-buttons1 {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.sign-up-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.sign-up-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.sign-up-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.sign-up-hero {
  flex: 0 0 auto;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sign-up-banner {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sign-up-banner1 {
  width: 100%;
  height: 952px;
  padding-top: 125px;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: 0px;
  flex-direction: row;
  padding-bottom: 84px;
  justify-content: center;
}
.sign-up-group5 {
  width: 404px;
  height: 638px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.sign-up-frame51 {
  gap: 10px;
  top: 0px;
  left: 0px;
  height: 52.52830123901367px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.sign-up-text {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 32px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.sign-up-frame54 {
  top: 110.52830505371094px;
  left: -5.6843418860808015e-14px;
  width: 404px;
  height: 58px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.sign-up-frame52 {
  gap: 10px;
  display: flex;
  align-items: flex-start;
}
.sign-up-name-input {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 14px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.sign-up-frame55 {
  top: 188.22640991210938px;
  left: -5.6843418860808015e-14px;
  width: 404px;
  height: 58px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.sign-up-frame521 {
  gap: 10px;
  display: flex;
  align-items: flex-start;
}
.sign-up-email-input {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 14px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.sign-up-frame551 {
  top: 265.9245300292969px;
  left: -5.6843418860808015e-14px;
  width: 404px;
  height: 58px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.sign-up-frame522 {
  gap: 10px;
  display: flex;
  align-items: flex-start;
}
.sign-up-password-input {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 14px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.sign-up-frame59 {
  gap: 10px;
  top: 615.0188598632812px;
  left: 113px;
  height: 22.98113250732422px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.sign-up-group4 {
  width: 183px;
  height: 21px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.sign-up-text05 {
  top: -153px;
  left: -5px;
  color: rgb(0, 0, 0);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Medium;
  text-align: left;
  font-family: "Poppins";
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.sign-up-group1 {
  top: 210px;
  left: 1px;
  width: 395px;
  height: 83px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.sign-up-email {
  width: 396px;
  height: 29px;
}
.sign-up-group11 {
  top: 287px;
  left: 1px;
  width: 396px;
  height: 83px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.sign-up-password {
  width: 396px;
  height: 29px;
}
.sign-up-sign-up-button {
  top: 562px;
  left: 25px;
  width: 441px;
  height: 83px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  flex-direction: column;
  justify-content: flex-start;
}
.sign-up-signup {
  color: rgb(255, 252, 252);
  width: 401px;
  font-size: 13px;
  font-style: normal;
  font-family: "Poppins";
  font-weight: 700;
  border-style: hidden;
  text-transform: capitalize;
  background-color: rgb(58, 91, 34);
}
.sign-up-container1 {
  width: 246px;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.sign-up-frame57 {
  gap: 10px;
  width: 147px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: auto;
  display: flex;
  padding: 0 0 64px;
  align-items: flex-start;
  flex-shrink: 0;
  margin-right: var(--dl-space-space-sixunits);
}
.sign-up-container2 {
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 991px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-size: cover;
  background-image: url("/eaaf8151-89e3-401a-84bc-f53ab5ddd004-1500w.jpg");
}
.sign-up-text06 {
  top: -153px;
  left: -5px;
  color: rgb(0, 0, 0);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Medium;
  text-align: left;
  font-family: "Poppins";
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.sign-up-text07 {
  color: #000000;
}
.sign-up-text09 {
  top: -153px;
  left: -5px;
  color: rgb(0, 0, 0);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Medium;
  text-align: left;
  font-family: "Poppins";
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.sign-up-text10 {
  color: #000000;
}
.sign-up-text12 {
  top: -153px;
  left: -5px;
  color: rgb(0, 0, 0);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Medium;
  text-align: left;
  font-family: "Poppins";
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.sign-up-text13 {
  color: #000000;
}
.sign-up-group12 {
  top: 314px;
  left: 25px;
  width: 396px;
  height: 83px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.sign-up-username {
  width: 396px;
  height: 29px;
}
.sign-up-sign-in-page-link {
  top: 646px;
  left: 263px;
  width: 96px;
  height: 34px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.sign-up-link-to-sign-in-page {
  text-decoration: none;
}
.sign-up-text15 {
  color: var(--dl-color-primary-500);
  font-size: 14px;
}
.sign-up-text16 {
  color: var(--dl-color-primary-500);
  font-size: 14px;
}
.sign-up-container3 {
  gap: var(--dl-space-space-unit);
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.sign-up-separator {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: 0px;
  border-color: var(--dl-color-gray-900);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.sign-up-container4 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.sign-up-icon-group1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.sign-up-icon10 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-twounits);
}
.sign-up-icon12 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-twounits);
}
.sign-up-icon14 {
  width: 24px;
  height: 24px;
}
@media(max-width: 767px) {
  .sign-up-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .sign-up-desktop-menu {
    display: none;
  }
  .sign-up-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .sign-up-nav12 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .sign-up-nav22 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .sign-up-nav32 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .sign-up-nav42 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .sign-up-nav52 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .sign-up-banner1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .sign-up-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .sign-up-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .sign-up-container4 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .sign-up-text19 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 479px) {
  .sign-up-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .sign-up-mobile-menu1 {
    padding: 16px;
  }
  .sign-up-banner1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .sign-up-footer {
    padding: var(--dl-space-space-unit);
  }
  .sign-up-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .sign-up-container4 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .sign-up-text19 {
    text-align: center;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
