.app-component-container {
  display: flex;
  position: relative;
}
.app-component-text {
  color: var(--dl-color-gray-white);
  text-align: center;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
